@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@300&family=Roboto:wght@500&family=Varela+Round&display=swap');

html {
    background-color: lightblue;
}

body {
    background-color: white;
    padding: 3em;
    margin: 2em;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;;
}

a {
    color: #000000;
}

ul {
    list-style: none;
    font-size: 1.5em;
}
