/* Insert Fonts */

/******************************************
* General/Mobile
******************************************/

html {
    background-color: #006D77;
}

.jumbotron {
    padding: 2em;
    margin: 30px auto;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #ffffff;
}

h1 {
    color: #006D77;
}

/* Navigation */

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #E29578;
}

ul {
    margin: 0;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

li {
    list-style: none;
}

.responsive li {
    display: block;
}

li:hover {
    background-color: #FFDDD2;
}

.navigation a {
    display: block;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
    transition: 300ms;
    margin-bottom: .3em;
}

#hamburger-icon {
    padding-right: .5em;
}

/* Page content */


.options-menu {
    border: 5px solid #006D77;
    padding-top: 20px;
    padding-bottom: 20px; 
    padding-right: 15px;
    padding-left: 15px;
}



/******************************************
* TEST
******************************************/

.activity-cards {
    display: grid;
    grid-template-columns: 1fr;
}

.activity-cards div {
    border: 3px solid #006D77;
    background-color: #ffddd2;
    padding: 30px;
    height: 200px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}

button {
    margin: 2.7px;
}

/******************************************
*  Large Screen
******************************************/

@media (min-width: 55em) {
    /* navigation */
    .navigation {
        display: flex;
        justify-content: flex-start;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
    }

    .navigation li:first-child {
        display: none;
    }

    .active-page {
        text-decoration: underline;
    }

    .container {
        display: flex;
    }

    .options-menu {
        justify-content: left;
        width: 40%;
        height: 350px;
        padding: 20px;
        display: grid;
        grid-template-columns: 150px 150px 150px;
        justify-content: center;
        /* margin-left: 150px; */
        margin: auto;
    }

    .activity-cards {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        /* margin-left: 90px; */
        margin: auto;
    }

    .activity-cards div {
        height: 100px;
        width: 100px;
    }

    button {
        padding: 10px;
        margin: 5px;
        background-color: #ffddd2;
    }
    

}