html {
    background-color: lightblue;
}

body {
    background-color: white;
    padding: 3em;
    margin: 2em;
}

.example {
    background-color: lightyellow;
    padding: 5px;
    padding-left: 5px;
    margin: 50px;
}

#square {
    margin: 100px;
    width: 100px;
    height: 100px;
    background: #d16;
}

